[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.project1
Exec=/usr/bin/ru.auroraos.project1
Name=AuroraStore
Name[ru]=Магазин

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=project1
ExecDBus=/usr/bin/ru.auroraos.project1
ExportDBusInterfaces=ru.auroraos.project1
